<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RC |</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/css/animsition.min.css">
    <style type="text/css">
      .grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

    </style>
</head>
<body style="background-image: url('https://adrien.is/configuring-solarized-colors/solarized-mountains-dark.png')">
  
<div class="ui eight column grid">
    <div class="four column row" style="margin-left: 30px; margin-top: 10px">
      <div class="ui menu">
        <div class="header item">
          <a href="/"><img src="http://flask-training-courses.uk/images/flask-logo.png" width="35px" height="35px"></a>
        </div>
        <a class="item" href="cohort1">
          Cohort I
        </a>
        <a class="item" href="cohort2">
          Cohort II
        </a>
        <a class="item" href="cohort3">
          Cohort III
        </a>
        <a class="item" href="cohort4">
          Cohort IV
        </a>
      </div>
    </div>
    <div class="eight column row">
      <div class="grow" id="chart" style="float: none; margin: 0 auto; border-radius: 20px;"></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>

<script language = "JavaScript">
         $(document).ready(function() {
            var title = {
               text: 'Cohort Onboarding Retention Curve'
            };
            var subtitle = {
               text: 'Source: export.csv'
            };
            var xAxis = {
               categories: {{ levels }}
            };
            var yAxis = {
               title: {
                  text: 'Percentage of Users (%)'
               },
               plotLines: [{
                  value: 0,
                  width: 1,
                  color: '#808080'
               }]
            };
            var options= {
              chart: {
                renderTo: 'container',
                type: 'line'
              },
            }
            var tooltip = {
               valueSuffix: '%'
            };
            var legend = {
               layout: 'vertical',
               align: 'right',
               verticalAlign: 'middle',
            };

            var series =  [{
                  name: 'Cohort I',
                  data: {{ d1 }}
               },{
                  name: 'Cohort II',
                  data: {{ d2 }}
               },{
                  name: 'Cohort III',
                  data: {{ d3 }}
               },{
                  name: 'Cohort IV',
                  data: {{ d4 }}
               }
            ];

            var json = {};
            json.title = title;
            json.subtitle = subtitle;
            json.xAxis = xAxis;
            json.yAxis = yAxis;
            json.tooltip = tooltip;
            json.legend = legend;
            json.series = series;

            $('#chart').highcharts(json);
         });

Highcharts.theme = {
    colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', 
             '#FF9655', '#FFF263', '#6AF9C4'],
    chart: {
        backgroundColor: {
            linearGradient: [0, 0, 500, 500],
            stops: [
                [0, 'rgb(255, 255, 255)'],
                [1, 'rgb(240, 240, 255)']
            ]
        },
    },
    title: {
        style: {
            color: '#000',
            font: 'bold 16px "Trebuchet MS", Verdana, sans-serif'
        }
    },
    subtitle: {
        style: {
            color: '#666666',
            font: 'bold 12px "Trebuchet MS", Verdana, sans-serif'
        }
    },

    legend: {
        itemStyle: {
            font: '9pt Trebuchet MS, Verdana, sans-serif',
            color: 'black'
        },
        itemHoverStyle:{
            color: 'gray'
        }   
    }
};

// Apply the theme
Highcharts.setOptions(Highcharts.theme);


      </script>
</body>
</html>
